{% extends "dashboard/base.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Showtime Form</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="movie_id" class="form-label">Movie</label>
            {{ form.movie_id(class="form-select") }}
            {% if form.movie_id.errors %}
                <ul class="errors">
                    {% for error in form.movie_id.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="theatre_id" class="form-label">Theatre</label>
            {{ form.theatre_id(class="form-select") }}
            {% if form.theatre_id.errors %}
                <ul class="errors">
                    {% for error in form.theatre_id.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="start_time" class="form-label">Start Time</label>
            <input type="datetime-local" class="form-control" id="start_time" name="start_time" required>
            {% if form.start_time.errors %}
                <ul class="errors">
                    {% for error in form.start_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="end_time" class="form-label">End Time</label>
            <input type="datetime-local" class="form-control" id="end_time" name="end_time" required>
            {% if form.end_time.errors %}
                <ul class="errors">
                    {% for error in form.end_time.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="floatformat" class="form-control" id="price" name="price" required>
            {% if form.price.errors %}
                <ul class="errors">
                    {% for error in form.price.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <hr />
        <div class="mb-3">
            <label for="seat_rows" class="form-label">Theatre Seat Rows</label>
            <input type="number" class="form-control" id="seat_rows" name="seat_rows" required>
            {% if form.seat_rows.errors %}
                <ul class="errors">
                    {% for error in form.seat_rows.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="seat_columns" class="form-label">Theatre Seat Columns</label>
            <input type="number" class="form-control" id="seat_columns" name="seat_columns" required>
            {% if form.seat_columns.errors %}
                <ul class="errors">
                    {% for error in form.seat_columns.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Create Showtime</button>
    </form>
</div>
{% endblock %}
